.navbar{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  gap: 10px;
  display: grid;
  place-content: center;
}
.navbar__title {
  font-size: 24px;
  margin: 0;
}
@media (min-width:768px){
  .navbar{
    display: flex;
    justify-content: space-between;
  }
.navbar__title{
  font-size: 30px;
}



  
}


.modalForm__btn {
  background-color: var(--color-btn);
  border: none;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 200ms ease;
  /* nuevo */
  transition: color 300ms ease;

}




.navbar__btn{
  background-color: var(--color-btn);
  color: white;
  border:none ;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease;
}