.UsersList__container{

  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap : 25px

  
   
}

@media (max-width:768px) {
  .UsersList__container {
    grid-template-columns: 1fr 
     }
  }